
body {
    background: url(https://cdn.pixabay.com/photo/2020/12/11/16/46/duraton-5823278_960_720.jpg);
}
/* 
.pauseDisplay {
    display: inline;
} */

/* .playDisplay {
    display: hidden;
} */

#playOrPauseDove {
    width: auto;
    background-color: rgba(240, 248, 255, 0.7);    
}

#playOrPauseDuck {
    width: auto;
    background-color: rgba(175, 238, 238, 0.7);
}

.doveImage {
    width: 30%;
    border-radius: 1em;
}

.duckImage {
    width: 30%;
    border-radius: 1em;
}

.controls {
    background-color: rgba(243, 207, 149, 0.563);
}